# Node.js modules
node_modules/

# Playwright test results (Allure results, traces, screenshots, etc.)
test-results/
allure-results/
playwright-report/

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store

# Environment variables
.env